body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000;
    color: #00ff00;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #000;
    color: #00ff00;
}

form {
    margin-bottom: 20px;
    background-color: #000;
    color: #00ff00;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #00ff00;
    border: 1px solid #00ff00;
}

.upload-box {
    border: 2px dashed #00ff00;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #000;
    color: #00ff00;
}

.dragover {
    border-color: #00ff00;
}

.progress-bar {
    width: 100%;
    background-color: #000;
    border: 1px solid #00ff00;
    margin-top: 20px;
}

.progress {
    width: 0;
    height: 30px;
    background-color: #00ff00;
}

#progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 30px;
    color: #000;
}
